@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact</h2>

<p>This is my contact page.</p>

<form>
	<label>Name</label>
	<input type="text"</label>
	
	<label>Phone</label>
	<input type="text"</label>	
	
	<label>Email</label>
	<input type="email"</label>	
	
	<button>Submit</button>

</form>