@{
    ViewBag.Title = "About";
}

@section head
{
    <style>
        /* FontAwesome for working BootSnippet :> */

        @@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
        #team {
            background: #eee !important;
        }

        .btn-primary:hover,
        .btn-primary:focus {
            background-color: #108d6f;
            border-color: #108d6f;
            box-shadow: none;
            outline: none;
        }

        .btn-primary {
            color: #fff;
            background-color: #007b5e;
            border-color: #007b5e;
        }

        section {
            padding: 60px 0;
        }

        section .section-title {
            text-align: center;
            color: #007b5e;
            margin-bottom: 50px;
            text-transform: uppercase;
        }

        #team .card {
            border: none;
            background: #ffffff;
        }

        .image-flip:hover .backside,
        .image-flip.hover .backside {
            -webkit-transform: rotateY(0deg);
            -moz-transform: rotateY(0deg);
            -o-transform: rotateY(0deg);
            -ms-transform: rotateY(0deg);
            transform: rotateY(0deg);
            border-radius: .25rem;
        }

        .image-flip:hover .frontside,
        .image-flip.hover .frontside {
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -o-transform: rotateY(180deg);
            transform: rotateY(180deg);
        }

        .mainflip {
            -webkit-transition: 1s;
            -webkit-transform-style: preserve-3d;
            -ms-transition: 1s;
            -moz-transition: 1s;
            -moz-transform: perspective(1000px);
            -moz-transform-style: preserve-3d;
            -ms-transform-style: preserve-3d;
            transition: 1s;
            transform-style: preserve-3d;
            position: relative;
        }

        .frontside {
            position: relative;
            -webkit-transform: rotateY(0deg);
            -ms-transform: rotateY(0deg);
            z-index: 2;
            margin-bottom: 30px;
        }

        .backside {
            position: absolute;
            top: 0;
            left: 0;
            background: white;
            -webkit-transform: rotateY(-180deg);
            -moz-transform: rotateY(-180deg);
            -o-transform: rotateY(-180deg);
            -ms-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
            -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
            -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
            box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
        }

        .frontside,
        .backside {
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -ms-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-transition: 1s;
            -webkit-transform-style: preserve-3d;
            -moz-transition: 1s;
            -moz-transform-style: preserve-3d;
            -o-transition: 1s;
            -o-transform-style: preserve-3d;
            -ms-transition: 1s;
            -ms-transform-style: preserve-3d;
            transition: 1s;
            transform-style: preserve-3d;
        }

        .frontside .card,
        .backside .card {
            min-height: 312px;
        }

        .backside .card a {
            font-size: 18px;
            color: #007b5e !important;
        }

        .frontside .card .card-title,
        .backside .card .card-title {
            color: #007b5e !important;
        }

        .frontside .card .card-body img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
        }
    </style>
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">OUR TEAM</h5>
        <div class="row">
            @{
                var hollywoodNames = new string[] { "Tom", "Meryl", "Leonardo", "Jennifer", "Brad", "Angelina", "Robert", "Scarlett", "Denzel", "Julia", "Johnny", "Emma" };
                var thumbColors = (new string[]
                {
                    "00FFFF", "7FFFD4", "F5F5DC", "7FFF00", "FF7F50", "6495ED", "DC143C",
                    "B8860B", "006400", "FF8C00", "9932CC", "FF1493", "1E90FF", "B22222",
                    "228B22", "FFD700", "008000", "FF69B4", "CD5C5C", "4B0082", "F0E68C",
                    "E6E6FA", "7CFC00", "66CDAA", "0000CD", "BA55D3", "9370DB", "3CB371",
                    "7B68EE", "00FA9A", "48D1CC", "C71585", "191970", "FF4500", "DA70D6",
                    "EEE8AA", "98FB98", "AFEEEE", "DB7093", "FFEFD5", "FFDAB9", "CD853F",
                    "DDA0DD", "B0C4DE", "FF0000", "8B4513", "FA8072", "2E8B57", "A0522D",
                    "87CEEB", "6A5ACD", "708090", "FFFAFA", "00FF7F", "4682B4", "D2B48C",
                    "8B008B", "556B2F", "FF8C69", "8B0000", "9932CC", "8FBC8F", "D2691E",
                    "87CEFA", "6A5ACD", "708090", "00FF7F", "4682B4", "D2B48C", "8B008B",
                    "556B2F", "FF8C69", "8B0000", "9932CC", "8FBC8F", "D2691E", "87CEFA",
                    "778899", "00FF7F", "4682B4", "D2B48C", "008080", "D8BFD8", "FF6347",
                    "F08080", "20B2AA", "87CEEB", "778899", "B8860B", "A9A9A9", "87CEEB",
                    "6A5ACD", "40E0D0", "D02090", "008080", "DA70D6", "F5DEB3", "FFA07A",
                    "FA8072", "FAEBD7", "CD853F", "778899"
                }).OrderBy(x => Guid.NewGuid()).ToArray();
            }
            @for (int i = 0; i < hollywoodNames.Length; i++)
            {
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img src="http://placehold.it/110x110/@thumbColors[i]/fff?text=@hollywoodNames[i]" class="img-fluid" /></p>
                                        <h4 class="card-title">@hollywoodNames[i]</h4>
                                        <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Sunlimetech</h4>
                                        <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-skype"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
            }
        </div>
    </div>
</section>
<!-- Team -->
