
@{
    ViewBag.Title = "Change Password";
}

<h2>Change Password</h2>

<form action="/Account/ChangePassword" method="post">
    <div class="form-group">
        <label for="currentPassword">Current Password</label>
        <input id="currentPassword" name="currentPassword" type="password" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input v-model="newPassword" id="newPassword" name="newPassword" type="password" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="retypePassword">Re-type Password</label>
        <input v-model="retypePassword" id="retypePassword" name="retypePassword" type="password" class="form-control" required>
        <span v-if="retypePassword && btnDisabled()" id="retypePasswordHelpBlock" class="form-text text-danger">Password does not match</span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" :disabled="btnDisabled()">Submit</button>
    </div>
</form>

<script type="module">
    import { createApp } from "/Scripts/petite-vue.es.js";
    const app = {
        //data
        newPassword: '',
        retypePassword: '',
        //methods
        btnDisabled() {
            return this.newPassword && (this.newPassword !== this.retypePassword)
        },
    }
    createApp(app).mount();
</script>