@model List<ASPNETWebApp45.Models.WeatherForecast>

@foreach (var forecast in Model)
{
    <tr>
        <td>@forecast.Date</td>
        <td>@forecast.TemperatureC</td>
        <td>@forecast.TemperatureF</td>
        <td>@forecast.Summary</td>
    </tr>
}

