@{
    ViewBag.Title = "About";
}

<h1 style="color:green">Hello, @Session["currentuser"]</h1>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
