@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}


<div class="card fat">
    <div class="card-body zoom">
        <h4 class="card-title">Change Password</h4>
        <form v-cloak action="/account/ChangePassword" method="post">
            @Html.AntiForgeryToken()
            @Html.Hidden("ReturnUrl", (string)ViewBag.ReturnUrl)
            <div class="form-group">
                <label for="currentPassword">Current Password</label>
                <input id="currentPassword" name="currentPassword" type="password" class="form-control" required autofocus>
            </div>

            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input v-model="newPassword" id="newPassword" name="newPassword" type="password" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="retypePassword">Re-type Password</label>
                <input v-model="retypePassword" id="retypePassword" name="retypePassword" type="password" class="form-control" required>
                <span v-if="retypePassword && btnDisabled" id="retypePasswordHelpBlock" class="form-text text-danger">Password does not match</span>
                <span v-else class="form-text">&nbsp;</span>
            </div>

            <div class="form-group m-0">
                <button type="submit" class="btn btn-primary btn-block" :disabled="btnDisabled">Submit</button>
            </div>
            <div class="mt-4 text-center">
                Not now? <a href="/">Go to homepage</a>
            </div>
        </form>
    </div>
</div>

<script type="module">
    import { createApp } from "/Scripts/petite-vue.es.js";
    const app = {
        //data
        newPassword: '',
        retypePassword: '',
        //methods
        get btnDisabled() {
            return this.newPassword && (this.newPassword !== this.retypePassword)
        },
    }
    createApp(app).mount();
</script>