@{
	ViewBag.Title = "ManageUsers";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
	<script src="https://bossanova.uk/jspreadsheet/v4/jexcel.js"></script>
	<link rel="stylesheet" href="https://bossanova.uk/jspreadsheet/v4/jexcel.css" type="text/css" />
	<script src="https://jsuites.net/v4/jsuites.js"></script>
	<link rel="stylesheet" href="https://jsuites.net/v4/jsuites.css" type="text/css" />
}

<h2>Manage Users</h2>

<div id="spreadsheet1"></div>
<p><button id='download'>Export my spreadsheet as CSV</button></p>

@section scripts{

	
	<script>
		var mySpreadsheet = jspreadsheet(document.getElementById('spreadsheet1'), {
		    csv:'/account.csv',
		    csvHeaders:true,
		    tableOverflow:true
		});
		 
		document.getElementById('download').onclick = function () {
		    mySpreadsheet.download();
		}
	</script>
}



