@{ 
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}


<div class="card fat">
    <div class="card-body zoom">
        <h4 class="card-title">Login</h4>
        <form action="/account/Login" method="post">
            @Html.AntiForgeryToken()
            @Html.Hidden("ReturnUrl", (string)ViewBag.ReturnUrl)
            <div class="form-group">
                <label for="username" class="col-form-label col-form-label-lg-mobile"> Email </label>
                <input type="text" id="username" name="username" class="form-control form-control-lg-mobile" required autofocus />
            </div>

            <div class="form-group">
                <label for="password" class="col-form-label col-form-label-lg-mobile"> Password <a href="#" class="float-right" style="display:none;"> Forgot Password? </a> </label>
                <input type="password" id="password" name="password" class="form-control form-control-lg-mobile" required data-eye />
            </div>

            <div class="form-group">
                <div class="custom-checkbox custom-control">
                    <input type="checkbox" name="rememberme" id="rememberme" class="custom-control-input" value="rememberme" />
                    <label for="rememberme" class="custom-control-label">Remember Me</label>
                </div>
            </div>

            <div class="form-group m-0">
                <button type="submit" class="btn btn-primary btn-block btn-lg-mobile"> Login </button>
            </div>
            <div class="mt-4 text-center">
                Don't have an account? <a href="/account/register">Create One</a>
            </div>
        </form>
    </div>
</div>