<?xml version="1.0" encoding="utf-8"?>
<configuration>	
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>

	<connectionStrings>
		<add name="MyApp48Db" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Integrated Security=true;AttachDbFilename=|DataDirectory|\MyApp48Db.mdf;" providerName="System.Data.SqlClient"/>
		<add name="SdMvcSomeeDb" connectionString="workstation id=berngabsdb.mssql.somee.com;packet size=4096;user id=bernardgabon_SQLLogin_1;pwd=54645645;data source=berngabsdb.mssql.somee.com;persist security info=False;initial catalog=berngabsdb" providerName="System.Data.SqlClient"/>
		<add name="name_of_dbconnection_string" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Integrated Security=true;Initial Catalog=database_name;" providerName="System.Data.SqlClient"/>
		<!-- When using MS Access/Jet database, change the Platform Target to x86/32 bit. Project > Properties > Build -->
		<add name="MyAccessDb" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\MyAccessDb.mdb" providerName="JetEntityFrameworkProvider" />
		<!-- https://FreeDB.tech offers free remote MySQL database hosting and premium stable services for your project needs. Browse it at https://phpmyadmin.freedb.tech -->
		<!-- Install-Package MySql.Data.EntityFramework -Version 8.0.31 -->
		<add name="App48MySQLdb" connectionString="Server=sql.freedb.tech;Database=freedb_App48MySQLdb;Uid=freedb_myusername;Pwd=mypassword;" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>

	<appSettings>

	</appSettings>

	<system.web>
		<customErrors mode="Off"/>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login" timeout="20" defaultUrl="/"/>
		</authentication>
		<roleManager enabled="false"/>
		<compilation debug="true" targetFramework="4.8"/>
		<httpRuntime targetFramework="4.8" requestPathInvalidCharacters="" relaxedUrlToFileSystemMapping="true" requestValidationMode="4.5" maxRequestLength="10240"/>
		<sessionState timeout="10"></sessionState>
	</system.web>

	<system.webServer>

		<security>
			<requestFiltering allowDoubleEscaping="true"/>
		</security>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
			<remove name="OPTIONSVerbHandler"/>
			<remove name="TRACEVerbHandler"/>			
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
		</handlers>
		<staticContent>
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00"></clientCache>
		</staticContent>

		<rewrite>
			<rules>
				<rule name="Allow LetsEncrypt" patternSyntax="Wildcard" stopProcessing="true">
					<match url=".well-known/*"/>
					<action type="None"/>
				</rule>
				<rule name="Redirect to https" stopProcessing="true">
					<match url="(.*)"/>
					<conditions>
						<add input="{HTTPS}" pattern="^OFF$"/>
						<add input="{HTTP_HOST}" matchType="Pattern" pattern="^localhost(:\d+)?$" negate="true"/>
						<add input="{HTTP_HOST}" matchType="Pattern" pattern="^127\.0\.0\.1(:\d+)?$" negate="true"/>
						<add input="{HTTP_HOST}" pattern="^([^\.]+\.)*somee\.com$" negate="true" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent"/>
				</rule>
			</rules>
		</rewrite>

	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NPOI.OOXML" publicKeyToken="0df73ec7942b34e1" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.1.5.0" newVersion="5.1.5.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.1.5.0" newVersion="5.1.5.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="X.PagedList" publicKeyToken="00B6C4F97602E5E8" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-7.9.0.0" newVersion="7.9.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v13.0" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />			
			<provider invariantName="JetEntityFrameworkProvider" type="JetEntityFrameworkProvider.JetProviderServices, JetEntityFrameworkProvider" />
			<!--<provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework, Verson=8.0.31.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />-->
		</providers>
	</entityFramework>

	<system.data>
		<DbProviderFactories>
			<remove invariant="MySql.Data.MySqlClient" />
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=8.0.31.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
			<remove invariant="JetEntityFrameworkProvider" />
			<add name="Jet Entity Framework Provider" invariant="JetEntityFrameworkProvider" description="Jet Entity Framework Provider" type="JetEntityFrameworkProvider.JetProviderFactory, JetEntityFrameworkProvider" />
		</DbProviderFactories>
	</system.data>

	<location path="UploadedFiles">
		<system.webServer>
			<directoryBrowse enabled="true"/>
		</system.webServer>
	</location>

	<location path="UploadedImages">
		<system.webServer>
			<directoryBrowse enabled="true"/>
		</system.webServer>
	</location>

</configuration>
